.notify__block
  display        : flex
  align-items    : center
  padding        : 16px
  padding-bottom : 8px
  .block__avatar
    width         : 16px
    height        : 16px
    border-radius : 100%
    background    : red
  .block__content
    color      : gray
    font-size  : 14px
    margin-top : 8px
  .block__timestamp
    margin-left : auto
    font-size   : 12px
    opacity     : 0.5
